# Github profil sayfası ile ilgili geçici dosyalar
*.svg
*.png
*.jpg

#IDE ve editör dosyaları
.vscode/
.idea/

# Geçici ve derleme dosyaları
*.log
*.tmp
*.swp
*.swo

# Platforma özgür dosyalar
.DS_Store
Thumbs.db

# Node.js bağımlılıkları
node_modules/

# Python cache dosyaları
__pycache__/
*.pyc
